<%- include('header.ejs') %>

    <div class="register-container">
        <h2>수강신청</h2>

        <div class="form-group">
            <input type="text" id="search_lecture" class="search-input" placeholder="강의명 혹은 ID를 검색하세요">
        </div>

        <ul id="lectureList" class="lecture-list">
            <% lectures.forEach(function(lecture) { %>
                <li class="lecture-item">
                    <div class="lecture-info">
                        <strong>
                            <%= lecture.lecture_name %> - <%= lecture.lecture_id %>
                        </strong>
                        <p>현 인원/정원: <%= lecture.cur_num %>/<%= lecture.max_num %>
                        </p>
                    </div>

                    <form action="/stu_lec_info" method="post" class="register-form">
                        <input type="hidden" name="lecture_id" value="<%= lecture.lecture_id %>">
                        <input type="hidden" name="lecture_name" value="<%= lecture.lecture_name %>">
                        <button type="submit" class="submit-button" <%=lecture.cur_num==lecture.max_num ? 'disabled'
                            : '' %>>수강 신청</button>
                    </form>
                </li>
                <% }); %>
        </ul>
    </div>

    <script>
        document.getElementById('search_lecture').addEventListener('input', function () {
            var searchValue = this.value.toLowerCase();
            var lectureList = document.getElementById('lectureList');
            var lectures = lectureList.getElementsByTagName('li');
            var buttons = lectureList.getElementsByTagName('button');

            for (var i = 0; i < lectures.length; i++) {
                var lectureName = lectures[i].innerText.toLowerCase();
                var lectureId = lectures[i].innerText.toLowerCase();

                if (lectureName.includes(searchValue) || lectureId.includes(searchValue)) {
                    lectures[i].style.display = 'block';
                    buttons[i].style.display = 'block';
                } else {
                    lectures[i].style.display = 'none';
                    buttons[i].style.display = 'none';
                }
            }
        });

    <% if (typeof errorMessage !== 'undefined') { %>
            alert('<%= errorMessage %>');
    <% } %>
    </script>

    <%- include('footer.ejs') %>